:root {
  --TST-window-size: 42px;
  --TST-fullscreen-size: 42px;
  --TST-expanded-size: 300px;
  --TST-transition-time: .3s ease-in-out;
}

#sidebar-header {
	width: var(--TST-expanded-size);
	background-color: var(--sidebar-background-color);
}

#main-window #appcontent {
  margin-left: var(--TST-window-size);
  transition: var(--TST-transition-time);
}

#main-window #sidebar,
#main-window #sidebar-box {
	position: fixed;
  display: block;
  min-width: 0px !important;
  width: var(--TST-window-size) !important;
  height: calc(100% - 41px);
  left: 0;
  transition: var(--TST-transition-time);
  z-index: 1;
  margin: 0;
  scrollbar-width: none;
}

#main-window #sidebar {
  height: 100%;
}

/* When hidden */
#main-window[inFullscreen] #sidebar-box[hidden="true"] ~ #appcontent,
#main-window #sidebar-box[hidden="true"] ~ #appcontent {
  margin-left: 0;
  transition: var(--TST-transition-time);
}
#main-window[inFullscreen] #sidebar-box[hidden="true"],
#main-window #sidebar-box[hidden="true"] {
  width: 0 !important;
  transition: var(--TST-transition-time);
}

/* Completely (almost) hide in fullscreen */
#main-window[inFullscreen] #appcontent {
  margin-left: var(--TST-fullscreen-size);
  transition: var(--TST-transition-time);
}
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar {
  width: var(--TST-fullscreen-size) !important;
  transition: var(--TST-transition-time);
}

/* Show on hover */
#main-window #sidebar-box:hover,
#main-window[inFullscreen] #sidebar-box:hover,
#main-window #sidebar-box:hover #sidebar,
#main-window[inFullscreen] #sidebar-box:hover #sidebar {
  width: var(--TST-expanded-size) !important;
  transition: var(--TST-transition-time);
}
#main-window #sidebar-box:hover #sidebar:before {
  transform: translateX(-100%);
}

/* Video/Content Fullscreen */
#main-window[inDOMFullscreen] #sidebar-box,
#main-window[inDOMFullscreen] #sidebar {
  width: 0 !important;
  transition: 0s;
}
#main-window[inDOMFullscreen] #appcontent {
  margin-left: 0;
  transition: 0s;
}
