/*
** Full Tree Style Tabs userChrome.css
**
** Also, TST user style sheet at bottom of this document.
*/

:root {
  --TST-minimized-size: 40px;
  --TST-expanded-size: 300px;
  --TST-transition-time: .3s ease-in-out;
  --TST-height: calc(100% - 40px) !important;
  --TST-title-margin-left: 80px;
}

/* FULL SCREEN */
#main-window[inFullscreen] {
    --TST-minimized-size: 10px;
    --TST-title-margin-left: unset;
    /* Windows (not MacOS) */
    @media not screen and (-webkit-max-device-pixel-ratio:1) and (min-color-index:0) {
      --TST-height: 100% !important;
    }
}

/* VIDEO FULLSCREEN */
#main-window[inDOMFullscreen] {
    --TST-minimized-size: 0px;
}

/* 
** swap between normal and TST when open; 
** Only works in Firefox if layout.css.has-selector.enabled is set to true in about:config . 
*/
body:has(#sidebar-box[sidebarcommand=treestyletab_piro_sakura_ne_jp-sidebar-action][checked=true]:not([hidden=true])) {
  #TabsToolbar,
  #TabsToolbar > * {
    min-height: 0 !important;
    max-height: 0 !important;
  }
  
  #TabsToolbar > .titlebar-buttonbox-container {
    display: block;
    position: absolute;
  }
  
  /* Windows (not MacOS) */
  @media not screen and (-webkit-max-device-pixel-ratio:1) and (min-color-index:0) {
    #TabsToolbar > .titlebar-buttonbox-container {
      top: 0px;
      right: 0px;
    }
    /* Adding empty space for buttons */
    #nav-bar {
	     margin-right: 125px !important;
    }
    
    .titlebar-button {
      padding: 15px
    }
  }
  
  /* MacOS */
  @media screen and (-webkit-max-device-pixel-ratio:1) and (min-color-index:0) {
    #TabsToolbar > .titlebar-buttonbox-container {
      top: 12px;
      left: 0px;
    }
    
    #nav-bar-customization-target {
      margin-left: var(--TST-title-margin-left);
    }
  }

  /* add space for fixed sidebar */
  #tabbrowser-tabbox {
    /* on left */
    margin-left: var(--TST-minimized-size) !important;
  }
   #sidebar-box[positionend] ~ #tabbrowser-tabbox {
    /* on right */
    margin-left: 0 !important;
    margin-right: var(--TST-minimized-size) !important;
  }
}
    

/* Collapse in default state and add transition */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]{
  /* on left */
  left: 0;
  border-right: 1px solid #0c0c0d;
  

  &[positionend]{
    /* on right */
    left: inherit;
    right: 0;
    border-right: inherit;
    border-left: 1px solid #0c0c0d;
  }
  
  /* full window minus topbar */
  height: var(--TST-height) !important; 
  
  /* put TST header on bottom */
  flex-direction: column-reverse; 

  position: fixed;
  overflow: hidden; 
  min-width: var(--TST-minimized-size) !important;
  max-width: var(--TST-minimized-size) !important;
  transition: var(--TST-transition-time) !important;
  z-index: 3 !important;

  /* Expand on hover */
  &:hover,
  & #sidebar {
    min-width: var(--TST-expanded-size) !important;
    max-width: var(--TST-expanded-size) !important;
    z-index: 4 !important;
  }
}

/* Add to TST user style sheet and uncomment */
/*Put closebox left side, even if I choose "Left side" style*/
/*
:root.left tab-item tab-twisty {
  order: 10000;
}
:root.left tab-item tab-closebox {
  order: -1;
}
*/

/*Put closebox right side, even if I choose "Right side" style #138*/
/*
:root.right tab-item tab-twisty {
  order: -1;
}
:root.right tab-item tab-closebox {
  order: 10000;
}
*/

/* Also see: https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules */
