/*
** Full Tree Style Tabs userChrome.css
*/

:root {
  --TST-minimized-size: 40px;
  --TST-expanded-size: 300px;
  --TST-transition-time: .3s ease-in-out;
  --titlebar-height: 40px;
  --bookmarkbar-height: 0px;
  --TST-title-margin-left: 80px;
}

/* FULL SCREEN */
#main-window[inFullscreen] {
    --TST-minimized-size: 10px;
    --TST-title-margin-left: unset;
    /* Windows (not MacOS) */
    &:not([data-l10n-id*="mac"]) {
      --titlebar-height: 0;
    }
}

/* VIDEO FULLSCREEN */
#main-window[inDOMFullscreen] {
    --TST-minimized-size: 0px;
}

/* Bookmark bar Visible */
:root:has(#PersonalToolbar[collapsed="false"])  {
   --bookmarkbar-height: 28.2px;
}

/* 
** swap between normal and TST when open; 
** Only works in Firefox if layout.css.has-selector.enabled is set to true in about:config . 
*/
/* Windows */
#main-window:not([data-l10n-id*="mac"])
:has(#sidebar-box[sidebarcommand=treestyletab_piro_sakura_ne_jp-sidebar-action][checked=true]:not([hidden=true])) {
  #TabsToolbar > .titlebar-buttonbox-container {
    top: 0px;
    right: 0px;
  }
  /* Adding empty space for buttons */
  #nav-bar {
    margin-right: 125px !important;
  }

  .titlebar-button {
    padding: 15px !important;
  }
}

/* MacOS */
#main-window[data-l10n-id*="mac"]
:has(#sidebar-box[sidebarcommand=treestyletab_piro_sakura_ne_jp-sidebar-action][checked=true]:not([hidden=true])) {
  #TabsToolbar > .titlebar-buttonbox-container {
    top: 12px;
    left: 0px;
  }
  #nav-bar-customization-target {
    margin-left: var(--TST-title-margin-left);
  } 
}


/* MacOS and Windows */
#main-window
:has(#sidebar-box[sidebarcommand=treestyletab_piro_sakura_ne_jp-sidebar-action][checked=true]:not([hidden=true])) {
  #TabsToolbar,
  #TabsToolbar > * {
    min-height: 0 !important;
    max-height: 0 !important;
  }
  
  #TabsToolbar > .titlebar-buttonbox-container {
    display: block;
    position: absolute;
  }

  /* add space for fixed sidebar */
  #tabbrowser-tabbox {
    /* on left */
    margin-left: var(--TST-minimized-size) !important;
  }
   #sidebar-box[positionend] ~ #tabbrowser-tabbox {
    /* on right */
    margin-left: 0 !important;
    margin-right: var(--TST-minimized-size) !important;
  }
}
    

/* Collapse in default state and add transition */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]{
  /* on left */
  left: 0;
  border-right: 1px solid #0c0c0d;
  

  &[positionend]{
    /* on right */
    left: inherit;
    right: 0;
    border-right: inherit;
    border-left: 1px solid #0c0c0d;
  }
  
  /* full window minus topbar */
  height: calc(100% - var(--titlebar-height)) !important; 
  
  /* put TST header on bottom */
  flex-direction: column-reverse; 
  
  position: fixed;
  overflow: hidden; 
  min-width: var(--TST-minimized-size) !important;
  max-width: var(--TST-minimized-size) !important;
  transition: var(--TST-transition-time);
  transition-property: min-width, max-width;
  z-index: 4 !important;


  /* Expand on hover */
  &:hover,
  & #sidebar {
    min-width: var(--TST-expanded-size) !important;
    max-width: var(--TST-expanded-size) !important;
  }
}
